{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home - Whistleblower App</title>
</head>
<body>
    <header class="masthead">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-10 mx-auto text-center">
                    <div class="site-heading">
                        <h3 class="site-heading my-4 mt-3">ADBL - Whistle Blower</h3>
                        <img src="{% static 'question.png' %}" alt="Whistleblower Image">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="center-container font1">
        <h2 class="font1">तपाईको आफ्नो गुनासो तथा सुझावहरू दिन चाहनुहुन्छ ?</h2>
        <form method="post">
            {% csrf_token %}
            <div class="button-group">
                <button type="submit" name="confirmation" value="yes">चाहन्छु</button>
                <button type="submit" name="confirmation" value="no">चाहन्न</button>
            </div>
        </form>
        <br>
        <h4 class="font1">( तपाईका गुनासो तथा सुझावहरू अतिनै गोप्य रहनेछन् ...... )</h4>
    </div>
</body>
</html>
{% endblock content %}
